body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #ffffff;
}

h1 {
  margin-top: 40px;
  font-size: 100px;
  font-weight: bold;
}

.dice-container {
  margin: 20px 0 40px;
}

#dice_face {
  font-size: 150px;
  display: inline-block;
  border-radius: 10px;
  width: 130px;
  height: 130px;
  line-height: 120px;
  text-align: center;
  transition: transform 0.2s ease;
}


button {
  background-color: #4daac6;
  color: white;
  border: none;
  padding: 15px 40px;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #3b92ad;
}

.roll-animation {
  transform: rotate(15deg) scale(1.1);
}
